In [ ]:
%pip install --quiet pandas
import pandas as pd
import numpy as np
#Use Pandas when dealing with structured/tabular data, like spreadsheets or CSVs.

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

##### panda Series is a single column of data with labels (index).

In [18]:
arr = np.random.rand(4)
pd.Series(data=arr) 
# create a Series from a numpy array

0    0.598591
1    0.766020
2    0.382433
3    0.192619
dtype: float64

In [19]:
label = ['a', 'b', 'c', 'd']
pd.Series(data=arr, index=label)
# create a Series from a numpy array with custom index labels

a    0.598591
b    0.766020
c    0.382433
d    0.192619
dtype: float64

In [20]:
d = {'a': 1, 'b': 2, 'c': 3}
pd.Series(data=d)
# create a Series from a dictionary

a    1
b    2
c    3
dtype: int64

##### Pandas Dataframe have Multiple columns (each can be a Series).

In [39]:
df = pd.DataFrame(data=np.random.randn(4,3), index=['a','b','c','d'],columns=['X','Y','Z'])
df
# create a DataFrame from a numpy array with custom index and column labels

          X         Y         Z
a -0.419500  0.057802  0.552948
b  0.019528  0.612037  0.669994
c -0.523455 -0.676943  1.587475
d  0.364803  0.850706 -1.918148

In [40]:
df['Z']
# access a column in the DataFrame

a    0.552948
b    0.669994
c    1.587475
d   -1.918148
Name: Z, dtype: float64

In [41]:
df[['X','Z']]
# access multiple columns in the DataFrame

          X         Z
a -0.419500  0.552948
b  0.019528  0.669994
c -0.523455  1.587475
d  0.364803 -1.918148

In [42]:
df['New'] = df['X'] + df['Y']
df
# add a new column to the DataFrame

          X         Y         Z       New
a -0.419500  0.057802  0.552948 -0.361697
b  0.019528  0.612037  0.669994  0.631565
c -0.523455 -0.676943  1.587475 -1.200398
d  0.364803  0.850706 -1.918148  1.215508

In [43]:
df.drop('Y',axis=1,inplace=True)
df
# drop a column from the DataFrame

          X         Z       New
a -0.419500  0.552948 -0.361697
b  0.019528  0.669994  0.631565
c -0.523455  1.587475 -1.200398
d  0.364803 -1.918148  1.215508

In [44]:
df.drop('d',axis=0,inplace=True)
df
# drop a row from the DataFrame

          X         Z       New
a -0.419500  0.552948 -0.361697
b  0.019528  0.669994  0.631565
c -0.523455  1.587475 -1.200398

In [45]:
df.shape
# get the shape of the DataFrame

(3, 3)

In [46]:
df.loc['a']
# access a row in the DataFrame by label

X     -0.419500
Z      0.552948
New   -0.361697
Name: a, dtype: float64

In [50]:
df.iloc[0]
# access a row in the DataFrame by index position

X     -0.419500
Z      0.552948
New   -0.361697
Name: a, dtype: float64

In [49]:
df.loc['a', 'Z']
# access a specific value in the DataFrame by label

0.5529482867530205

In [ ]:
df>0.2
# create a boolean DataFrame based on a condition

       X     Z    New
a  False  True  False
b  False  True   True
c  False  True  False

In [ ]:
df[df>0.2]
# filter the DataFrame based on a condition

    X         Z       New
a NaN  0.552948       NaN
b NaN  0.669994  0.631565
c NaN  1.587475       NaN

In [53]:
d = {'a': [1,2,np.nan], 'b': [np.nan,2,np.nan], 'c': [1,2,5],}
df = pd.DataFrame(data=d)
df

     a    b  c
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  NaN  5

In [58]:
df.dropna(axis=0,thresh=1)
# drop rows with less than 1 non-NA value

     a    b  c
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  NaN  5

In [ ]:
df.dropna(axis=1)
# drop columns with NaN values

   c
0  1
1  2
2  5

In [59]:
df.fillna(value=0)
# fill NaN values with 0

     a    b  c
0  1.0  0.0  1
1  2.0  2.0  2
2  0.0  0.0  5

In [62]:
df['a'].fillna(value=df['a'].mean())
df
# fill NaN values in a specific column with the mean of that column

     a    b  c
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  NaN  5

In [68]:
data = {'Company': ['GOOG' , 'GOOG' , 'MSFT' , 'MSFT' , 'FB' , 'FB' ],
'Person' : ['Sam' ,'Charlie' ,'Amy' ,'Vanessa' ,'Carl' , 'Sarah' ],
'Sales':[200,120,340,124,243,350]}
df2 = pd.DataFrame(data)
df2

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [ ]:
nndf = df2.groupby('Company')
# group the DataFrame by 'Company' column

In [ ]:
nndf.mean(numeric_only=True)
# calculate the mean of the 'Sales' column for each group

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [73]:
nndf.sum(numeric_only=True)

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [74]:
nndf.sum(numeric_only=True).loc['GOOG']
# calculate the sum of the 'Sales' column for each group and access the 'GOOG' group

Sales    320
Name: GOOG, dtype: int64

In [95]:
data1 = {'Company': ['GOOG' , 'GOOG' , 'MSFT' , 'MSFT' , 'FB' , 'FB' ],
'Person' : ['Sam' ,'Charlie' ,'Amy' ,'Vanessa' ,'Carl' , 'Sarah' ],
'Sales':[200,120,340,124,243,350]}
data2 = {'Company': ['GOOG' , 'MSFT' , 'FB' ],
'Person' : ['Cam' ,'Samy' ,'Carlos' ],
'Sales':[400,140,143]}
s =  pd.Series(data=np.arange(6))
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [92]:
df1

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [93]:
df2

  Company  Person  Sales
0    GOOG     Cam    400
1    MSFT    Samy    140
2      FB  Carlos    143

In [96]:
pd.concat([df1, df2], axis=0, ignore_index=True)
# concatenate two DataFrames along the rows and reset the index

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350
6    GOOG      Cam    400
7    MSFT     Samy    140
8      FB   Carlos    143

In [97]:
pd.concat([df1, s], axis=1, ignore_index=True)
# concatenate a DataFrame and a Series along the columns and reset the index

      0        1    2  3
0  GOOG      Sam  200  0
1  GOOG  Charlie  120  1
2  MSFT      Amy  340  2
3  MSFT  Vanessa  124  3
4    FB     Carl  243  4
5    FB    Sarah  350  5

In [113]:
employees = pd.DataFrame({
    'emp_id': [101, 102, 103, 104],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'department': ['HR', 'Finance', 'IT', 'Marketing']
})

salaries = pd.DataFrame({
    'emp_id': [101, 102, 103, 105],
    'salary': [70000, 80000, 75000, 60000],
    'bonus': [5000, 6000, 5000, 4000]
})

In [114]:
employees

   emp_id     name department
0     101    Alice         HR
1     102      Bob    Finance
2     103  Charlie         IT
3     104    David  Marketing

In [115]:
salaries

   emp_id  salary  bonus
0     101   70000   5000
1     102   80000   6000
2     103   75000   5000
3     105   60000   4000

In [116]:
pd.merge(employees, salaries, how='inner', on=['emp_id'])
# merge two DataFrames on multiple keys with inner join

   emp_id     name department  salary  bonus
0     101    Alice         HR   70000   5000
1     102      Bob    Finance   80000   6000
2     103  Charlie         IT   75000   5000

In [ ]:
salaries['bonus'].unique()
# get unique values from a column in the DataFrame

array([5000, 6000, 4000], dtype=int64)

In [118]:
salaries['bonus'].value_counts()
# get the count of unique values in a column in the DataFrame

bonus
5000    2
6000    1
4000    1
Name: count, dtype: int64

In [123]:
salaries['bonus'].apply(lambda x: x * 2)
# apply a function to a column in the DataFrame

0    10000
1    12000
2    10000
3     8000
Name: bonus, dtype: int64

In [124]:
df.columns
# get the column names of the DataFrame

Index(['Company', 'Person', 'Sales'], dtype='object')

In [ ]:
df.sort_values(by='Sales', ascending=False)
# sort the DataFrame by a column in descending order

  Company   Person  Sales
5      FB    Sarah    350
2    MSFT      Amy    340
4      FB     Carl    243
0    GOOG      Sam    200
3    MSFT  Vanessa    124
1    GOOG  Charlie    120

In [128]:
dfn2 = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv')
dfn2
# read a CSV file into a DataFrame

   Month   "1958"   "1959"   "1960"
0    JAN      340      360      417
1    FEB      318      342      391
2    MAR      362      406      419
3    APR      348      396      461
4    MAY      363      420      472
5    JUN      435      472      535
6    JUL      491      548      622
7    AUG      505      559      606
8    SEP      404      463      508
9    OCT      359      407      461
10   NOV      310      362      390
11   DEC      337      405      432

In [130]:
dfn2.to_csv('output.csv', index=False)
# write the DataFrame to a CSV file without the index

In [133]:
pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv')
# read a CSV file into a DataFrame

   Month   "1958"   "1959"   "1960"
0    JAN      340      360      417
1    FEB      318      342      391
2    MAR      362      406      419
3    APR      348      396      461
4    MAY      363      420      472
5    JUN      435      472      535
6    JUL      491      548      622
7    AUG      505      559      606
8    SEP      404      463      508
9    OCT      359      407      461
10   NOV      310      362      390
11   DEC      337      405      432

In [136]:
pd.read_html('https://en.wikipedia.org/wiki/List_of_wars_involving_Russia')
# read HTML tables from a URL into a list of DataFrames

[    0                                                  1
 0 NaN  This article has multiple issues. Please help ...
 1 NaN  This article may require cleanup to meet Wikip...
 2 NaN  This article needs additional citations for ve...
 3 NaN  The accessibility of this article is in questi...,
     0                                                  1
 0 NaN  This article may require cleanup to meet Wikip...,
     0                                                  1
 0 NaN  This article needs additional citations for ve...,
     0                                                  1
 0 NaN  The accessibility of this article is in questi...,
                               Part of a series on the Unnamed: 1_level_0
                                     History of Russia Unnamed: 1_level_1
 0                                                 NaN                NaN
 1   PeriodsPrehistory  Antiquity  Early Slavs  R...                NaN
 2                                         Rus' people    pre-9th century
 3                                      Rus' Khaganate                NaN
 4                                            Arthania                NaN
 5                                           Gararki                NaN
 6                                       Novgorod Land           8821136
 7                             Principality of Polotsk           9871397
 8                           Principality of Chernigov           9881402
 9                                       Rostov-Suzdal          10931157
 10                                       full list...                NaN
 11                                  Novgorod Republic          11361478
 12                                    Vladimir-Suzdal          11571331
 13                             Principality of Moscow          12631547
 14                                       full list...                NaN
 15                                  Tsardom of Russia          15471721
 16                                     Russian Empire          17211917
 17                                    Russian America          17991867
 18                             Grand Duchy of Finland          18091917
 19                                    Congress Poland          18671915
 20                                  Russian Manchuria          19001905
 21                                     Uryankhay Krai          19141921
 22                                   Russian Republic          19171918
 23                     General Secretariat of Ukraine          19171918
 24                                       Russian SFSR          19171922
 25                                      Ukrainian SSR          19191922
 26                                   Byelorussian SSR          19201922
 27                                Transcaucasian SFSR          19221922
 28                                      Russian State          19181920
 29                        Provisional Priamurye Govt.          19211923
 30                                       full list...                NaN
 31                                       Soviet Union          19221991
 32                                       Russian SFSR          19221991
 33                                 Karelo-Finnish SSR          19401956
 34                                       full list...                NaN
 35                                         Tannu Tuva          19211944
 36                                 Russian Federation       1991present
 37                              Republic of Tatarstan       1994present
 38                                   Chechen Republic       2000present
 39                                Republic of CrimeaA       2014present
 40                        Donetsk People's RepublicAB       2022present
 41                        Luhansk People's RepublicAB       2022present
 42                                   Kherson OblastAB       2022present
 43                              Zaporizhzhia OblastAB       2022present
 44  full list... ^A Not internationally recognized...                NaN
 45  Timeline8601721  17211796  17961855 1855...                NaN
 46                                      Russia portal                NaN
 47                                                vte                NaN,
                 0                1
 0     Rus' people  pre-9th century
 1  Rus' Khaganate              NaN
 2        Arthania              NaN
 3       Gararki              NaN,
                            0          1
 0              Novgorod Land   8821136
 1    Principality of Polotsk   9871397
 2  Principality of Chernigov   9881402
 3              Rostov-Suzdal  10931157
 4               full list...        NaN,
                         0          1
 0       Novgorod Republic  11361478
 1         Vladimir-Suzdal  11571331
 2  Principality of Moscow  12631547
 3            full list...        NaN,
                         0          1
 0       Tsardom of Russia  15471721
 1          Russian Empire  17211917
 2         Russian America  17991867
 3  Grand Duchy of Finland  18091917
 4         Congress Poland  18671915
 5       Russian Manchuria  19001905
 6          Uryankhay Krai  19141921,
                                 0          1
 0                Russian Republic  19171918
 1  General Secretariat of Ukraine  19171918
 2                    Russian SFSR  19171922
 3                   Ukrainian SSR  19191922
 4                Byelorussian SSR  19201922
 5             Transcaucasian SFSR  19221922
 6                   Russian State  19181920
 7     Provisional Priamurye Govt.  19211923
 8                    full list...        NaN,
                     0          1
 0        Soviet Union  19221991
 1        Russian SFSR  19221991
 2  Karelo-Finnish SSR  19401956
 3        full list...        NaN
 4          Tannu Tuva  19211944,
                                                    0             1
 0                                 Russian Federation  1991present
 1                              Republic of Tatarstan  1994present
 2                                   Chechen Republic  2000present
 3                                Republic of CrimeaA  2014present
 4                        Donetsk People's RepublicAB  2022present
 5                        Luhansk People's RepublicAB  2022present
 6                                   Kherson OblastAB  2022present
 7                              Zaporizhzhia OblastAB  2022present
 8  full list... ^A Not internationally recognized...           NaN,
            Date                                           Conflict  Location  \
 0          830s                Paphlagonian expedition of the Rus       NaN
 1           860                      Siege of Constantinople (860)       NaN
 2           907                           Rus'Byzantine War (907)       NaN
 3      9201036                            Rus'Pecheneg campaigns       NaN
 4           941                           Rus'Byzantine War (941)       NaN
 5       944/945                       Rus'-Byzantine War (944/945)       NaN
 6       964965              Sviatoslav's campaign against Khazars       NaN
 7   967/968971                  Sviatoslav's invasion of Bulgaria       NaN
 8           981    Vladimir the Great's campaign on Cherven Cities       NaN
 9           985  Vladimir the Great's campaign against Volga Bu...       NaN
 10          987                           Rus'Byzantine War (987)       NaN
 11         1022                Yaroslav the Wise's attack on Brest       NaN
 12         1024                          Rus'Byzantine War (1024)       NaN
 13         1030          Yaroslav the Wise's campaign against Chud       NaN
 14    10301031     Yaroslav the Wise's campaign on Cherven Cities       NaN
 15    10421228                           FinnishNovgorodian wars       NaN
 16         1043                          Rus'Byzantine War (1043)       NaN
 17    10551223                               Rus'Cuman campaigns       NaN
 18         1061                          Sosols raid against Pskov       NaN
 19    11321445                           SwedishNovgorodian Wars       NaN
 20         1147      Bolesaw IV the Curly's raid on Old Prussians       NaN
 21    12031234  Campaigns of Rus princes against the Order of ...       NaN
 22    12231240  Mongol invasion of Rus'(see also List of Tatar...       NaN
 23    12401242  Livonian campaign against Rus' (see also North...       NaN
 24         1245                Alexandr Nevsky Lithuanian campaign       NaN
 25         1268                                Battle of Wesenberg       NaN

                                    Rus and its allies  \
 0                                      Rus' Khaganate
 1                                      Rus' Khaganate
 2                                         Kievan Rus'
 3                                         Kievan Rus'
 4                                         Kievan Rus'
 5                                         Kievan Rus'
 6                                         Kievan Rus'
 7                                         Kievan Rus'
 8                                         Kievan Rus'
 9                                         Kievan Rus'
 10                                        Kievan Rus'
 11                                        Kievan Rus'
 12                                        Kievan Rus'
 13                                        Kievan Rus'
 14                                        Kievan Rus'
 15        Kievan Rus' (until 1136)  Novgorod Republic
 16                                        Kievan Rus'
 17                                        Kievan Rus'
 18                                        Kievan Rus'
 19        Kievan Rus' (until 1136)  Novgorod Republic
 20                   Bolesaw IV the CurlyKievan Rus'
 21  Kievan Rus'  Vladimir-Suzdal Principality of P...
 22  Vladimir-SuzdalKievGalicia-Volhynia Novgorod R...
 23  Kievan Rus'  Vladimir-Suzdal Pskov Republic  N...
 24  Kievan Rus'  Vladimir-Suzdal Pskov Republic  N...
 25   Novgorod Republic Vladimir-Suzdal Pskov Republic

                                           Opponent(s)  \
 0                                    Byzantine Empire
 1                                    Byzantine Empire
 2                                    Byzantine Empire
 3                                           Pechenegs
 4                                    Byzantine Empire
 5                                    Byzantine Empire
 6                                    Khazar Khaganate
 7                                    Byzantine Empire
 8                                     Duchy of Poland
 9                                      Volga Bulgaria
 10                                   Byzantine Empire
 11                                    Duchy of Poland
 12                                   Byzantine Empire
 13                                               Chud
 14                                    Duchy of Poland
 15  Baltic Finnic peoples of Fennoscandia (Yem peo...
 16                                   Byzantine Empire
 17                                             Cumans
 18                                             Sosols
 19   Kingdom of Sweden  Kingdom of Norway (from 1319)
 20                                      Old Prussians
 21      Livonian Brothers of the Sword Baltic Germans
 22                                      Mongol Empire
 23  Teutonic Order  Livonian Order Kingdom of Swed...
 24                           Grand Duchy of Lithuania
 25  Denmark Duchy of Estonia  Teutonic Order  Livo...

                                                Result
 0                                          Victory[a]
 1                                          Victory[a]
 2                                          Victory[1]
 3                 Various results; eventually victory
 4                                              Defeat
 5                                          Victory[2]
 6         Victory Destruction of the Khazar Khaganate
 7                                              Defeat
 8                                             Victory
 9                    Military victory, then agreement
 10  Military victory and agreement Baptism of Vlad...
 11                                             Defeat
 12                                             Defeat
 13  Victory Estonian tribes start to pay tribute t...
 14                                            Victory
 15  Various results, mostly victories The wars' ef...
 16                                             Defeat
 17                  Various results, mostly victories
 18  Defeat Yaroslav the Wise's conquests in Estoni...
 19                    Stalemate after the Black Death
 20                                            Victory
 21  Defeat The crusaders capture Baltic lands up t...
 22  Decisive defeat The principalities of the Kiev...
 23  Victory Defeat of the Germans Peace with Princ...
 24                                            Victory
 25                           Both sides claim victory  ,
               Date                                           Conflict  \
 0   12811293/4[4]  Vladimir-Suzdal war of succession (12811293)...
 1   1296/81302[4]                 Struggle for Pereslavl-Zalessky[4]
 2        13051485  MuscoviteTverian wars[uk; ru] (series of sho...
 3             1327  Tver Uprising of 1327 (part of the MuscoviteT...
 4        13681372  LithuanianMuscovite War (136872) (part of th...
 5             1376  MuscoviteVolga Bulgars war (part of the Great...
 6             1377  Battle on Pyana River (part of the Great Troub...
 7             1378  Battle of the Vozha River (part of the Great T...
 8             1380  Battle of Kulikovo (part of the Great Troubles...
 9             1382  Siege of Moscow (part of the aftermath of the ...
 10       14061408  LithuanianMuscovite War (14061408)[uk] (par...
 11   14251453[14]                    Muscovite War of Succession[15]
 12       14371445  Ulugh Muhammad's campaign (first Russo-Kazan w...
 13       14671469                                          Qasim War
 14            1471                                   Battle of Shelon
 15            1478                                     Siege of Kazan
 16            1480                      Great Stand on the Ugra River
 17       1480-1481                   Russian-Livonian War (1480-1481)
 18            1485  Capture of Tver (1485)[ru] (part of the Musco...
 19       14871494                     First Muscovite-Lithuanian War
 20       14951497                                  Russo-Swedish War
 21       15001503                    Second MuscoviteLithuanian War
 22       15051507                                    Russo-Kazan War
 23       15071508                     Third MuscoviteLithuanian War
 24       15121522                    Fourth MuscoviteLithuanian War
 25       15341537                     Fifth MuscoviteLithuanian War

                                           Combatant 1  \
 0   Nogai forces[6] Dmitry of Pereslavl[6]  Mikhai...
 1   Daniel of Moscow[4]  Mikhail of Tver[4]  Tokht...
 2                              Principality of Moscow
 3   Golden Horde  Ivan I Kalita of Moscow Alexande...
 4                              Principality of Moscow
 5                              Principality of Moscow
 6                              Principality of Moscow
 7                              Principality of Moscow
 8   Rus' principalities:[10]  Principality of Mosc...
 9                              Principality of Moscow
 10                             Principality of Moscow
 11  Younger Donskoy line  Vasily II Vasilyevich  D...
 12  Younger Donskoy line  Vasily II Vasilyevich  D...
 13         Grand Principality of Moscow Qasim Khanate
 14                       Grand Principality of Moscow
 15                       Grand Principality of Moscow
 16                       Grand Principality of Moscow
 17                                             Russia
 18                       Grand Principality of Moscow
 19                       Grand Principality of Moscow
 20                       Grand Principality of Moscow
 21                       Grand Principality of Moscow
 22                       Grand Principality of Moscow
 23                       Grand Principality of Moscow
 24       Grand Principality of Moscow  Livonian Order
 25                       Grand Principality of Moscow

                                           Combatant 2  \
 0   Tode Mongke (12811287)[7]  Tokhta forces[6] A...
 1   Andrey of Gorodets[4]  Theodore the Black[4] K...
 2                                Principality of Tver
 3   Principality of Tver  Grand Principality of Vl...
 4       Grand Duchy of Lithuania Principality of Tver
 5                                      Volga Bulgaria
 6                                        Golden Horde
 7                                        Golden Horde
 8   Western part of the Golden Horde European merc...
 9                                        Golden Horde
 10                           Grand Duchy of Lithuania
 11  Older Donskoy line  Yury Dmitrievich (142534)...
 12  Older Donskoy line  Ulugh of Kazan  Dmitry II ...
 13                                   Khanate of Kazan
 14                                  Novgorod Republic
 15                                   Khanate of Kazan
 16                                       Golden Horde
 17                             Livonian Confederation
 18                               Principality of Tver
 19                           Grand Duchy of Lithuania
 20                                             Sweden
 21           Grand Duchy of Lithuania  Livonian Order
 22                                   Khanate of Kazan
 23          Grand Duchy of Lithuania  Crimean Khanate
 24  Grand Duchy of Lithuania  Kingdom of Poland  C...
 25  Grand Duchy of Lithuania  Kingdom of Poland  C...

                                                Result
 0   Tokhta victory[6] Vladimir, Moscow and Tver sa...
 1   MuscoviteTverian victory[4] Moscow sacked (12...
 2               Victory Tver annexed by Moscow (1485)
 3   Golden Horde victory Aleksandr of Tver strippe...
 4                     Inconclusive Treaty of Lyubutsk
 5                                             Victory
 6                                              Defeat
 7                                             Victory
 8   Victory for the Rus' principalities coalition[...
 9   Defeat[12] Dmitri Donskoy forced to reaffirm a...
 10  Hungarian Treaty[uk] (1 September 1408) Lithu...
 11  Vasily II victory[14] Younger lineage of Dmitr...
 12  Ulugh victory Ulugh captured Vasily II Vasilye...
 13  Victory Kazan released all ethnic Christian Ru...
 14  Victory Novgorod Republic annexed by the Grand...
 15  Victory The Kazan Khan imprisoned and replaced...
 16  Debated[18][19] Traditional Russian historiogr...
 17                                            Victory
 18  Victory Principality of Tver annexed by the Gr...
 19                                            Victory
 20                                       Inconclusive
 21                                            Victory
 22                                       Inconclusive
 23                                       Inconclusive
 24                                            Victory
 25                                       Inconclusive  ,
          Date                                           Conflict  \
 0        1552   Siege of Kazan Ivan IV enters the defeated Kazan
 1   15521556                                    Tatar Rebellion
 2   15541557                    Ivan the Terrible's Swedish War
 3        1556                      Russian conquest of Astrakhan
 4   15581562              Ivan the Terrible's Livonian Campaign
 5   15621570                               Russo-Lithuanian War
 6   15581583   Livonian War Russia troops besiege Narva in 1558